.container {
    display: flex;
    gap: 15px;
    color: white;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    @media (max-width: 1250px) {
      width: 70px;
      height: 70px;
    }

    @media (max-width: 720px) {
      font-size: 16px;
    }

}

.days {
    font-size: 40px;
    @media (max-width: 1250px) {
      font-size: 30px;
    }

    @media (max-width: 720px) {
      font-size: 30px;
    }
}

.text {
    font-size: 18px;
    @media (max-width: 1250px) {
      font-size: 14px;
    }

    @media (max-width: 720px) {
      font-size: 14px;
    }
}
