.container {
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
}

.heart {
    background-image: url('../../../public/somehearts.png');
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}

.names {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.date {
    color: white;
}

.countdown {
    bottom: 0px; 
    position: absolute;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}