.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    font-size: 16px;
    max-width: 100%;
    font-family: 'Caveat', cursive;
    height: 60px;
    list-style-type: none;
    color: white;
    background-color: rgba(151, 179, 151, 0.5);
  backdrop-filter: blur(20px);
}

.fixed {

    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.fixed * {
  color: white;
}

.item {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: rgb(201, 240, 212);
        transform: scale(1.1);
    }
}

.fixed .item {
    &:hover {
        color: rgb(48, 61, 52);
        transform: scale(1.1);
    }
}
