.container {
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: center;
    height: 80vh;
    justify-content: center;
    text-align: center;
    border-top: 0.5px solid gray;
}