.container {
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: center;
    height: 90vh;
    justify-content: center;
    text-align: center;
    border-top: 0.5px solid gray;

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center ;

      .buttonAccept{
        margin-top: 20px;
      }

      .buttonReject{
        margin-top: 20px;
      }
    }
}
